@import "src/app/_partials/variables.scss";
@import "src/app/_partials/components.scss";

.message {
    display: flex;

    .sender {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        align-self: flex-start;
    }

    .content {
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: $col-white;
        align-self: flex-start;
        box-shadow: 0 .01rem .1rem rgba(0, 0, 0, .2);
        margin: 0 .4rem;
        max-width: 65%;
        text-align: justify;

        font-size: 1.6rem;
        font-weight: 100;
        opacity: .7;
    }
}

.float-right {
    justify-content: flex-end;

    .content {
        order: 0;

        background-color: rgba($col-secondary, .4);
    }
    .sender {
        order: 1;
    }
}