<div class="header">
    <div class="header__title">
        <span class="app-name">ChatWS</span>
        <app-icon name="icon-chat-bubble-dots"></app-icon>
    </div>

    <div class="header__actions">
        <div class="header__search">
            <input placeholder="Search" class="input-field" type="search">
            <button class="button search-button">
                <app-icon name="icon-search"></app-icon>
            </button>
        </div>

        <button class="button header__notifications">
            <app-icon name="icon-notifications-outline"></app-icon>
            <span class="notification-count">4</span>
        </button>

        <img class="header__avatar" src="/assets/images/user.jpeg" alt="user">
    </div>
</div>