@import "src/app/_partials/variables.scss";
@import "src/app/_partials/components.scss";

.image {
    height: 40rem;
    width: 80rem;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.app {
    height: 100vh;
    overflow-y: scroll;
    display: grid;

    grid-template-rows: min-content 94vh;
    grid-template-columns: 1vw [side-bar-end main-start] 1fr repeat(16, [col-start] minmax(min-content, 1fr) [col-end]) 1fr [main-content-end] 1vw;

    & > * {
        box-shadow: $shadow-1;
    }

    &__header {
        background-color: $col-white;
        grid-column: side-bar-end / main-content-end;
        padding: .2rem;
    }

    &__main {
        grid-column: side-bar-end / main-content-end;
    }
}