@import "src/app/_partials/variables.scss";

.image {
    height: 40rem;
    width: 80rem;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.app {
    height: 100vh;
    overflow-y: scroll;
    display: grid;

    grid-template-rows: min-content 94vh;
    grid-template-columns: 4vw [side-bar-end main-start] 1fr repeat(16, [col-start] minmax(min-content, 1fr) [col-end]) 1fr;

    &__header {
        background-color: $col-gray-shade-1;
        grid-column: side-bar-end / -1;
    }

    &__sidebar {
        background-color: $col-secondary;
        grid-column: 1 / side-bar-end;
        grid-row: 1 / -1;
    }

    &__main {
        background-color: $col-primary;
        grid-column: side-bar-end / -1;
    }
}