<div *ngIf="false" class="reader">

    <div class="book">
        <h1 id="book-s1">
            The deary darkness
        </h1>

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error sapiente nisi perspiciatis facilis cumque odio
        quo?
        Non cupiditate eaque quae, esse nobis facilis provident. Fuga quas animi minus laudantium aperiam.
        Quasi harum veritatis cumque tenetur provident perspiciatis, ipsa facere suscipit porro vitae natus incidunt
        officia
        deleniti consequatur ea omnis corrupti magnam quisquam nihil voluptatibus eos, doloribus ut. Voluptates,
        reprehenderit odio!
        Blanditiis expedita ea minus cupiditate corrupti quam non omnis aperiam eveniet atque sapiente voluptates ut
        placeat
        commodi error saepe nemo animi aliquam molestiae ipsa nam, magni magnam veritatis! Eveniet, reiciendis.
        Non beatae, temporibus iusto pariatur neque reprehenderit asperiores dolor dignissimos deleniti fuga iure
        tempore,
        quis commodi adipisci voluptatem doloremque cum quam perferendis accusantium sed excepturi amet veniam.
        Repellat,
        nihil fugit?
        Ipsa eos pariatur maiores dolor qui cum similique possimus, corrupti accusamus velit laboriosam. Autem, nesciunt
        magni iusto saepe, adipisci necessitatibus, dicta enim est modi cupiditate culpa dolores nam eaque fugiat.
        Repellat illo nihil praesentium omnis, facilis quasi modi commodi dolor culpa in officiis illum enim pariatur
        architecto laborum. Excepturi delectus ut aliquam sit in perspiciatis quos, corporis nesciunt possimus placeat.
        Laudantium quidem officia unde saepe consequuntur aspernatur excepturi, ullam eaque. Ducimus, temporibus quis.
        Reprehenderit, vel fugit tenetur consequuntur aperiam pariatur asperiores facere consequatur officiis labore,
        impedit minima! Unde, dolorem explicabo.
        Omnis, tempore placeat? Vitae corrupti quia asperiores doloribus quis tempore nisi iusto, explicabo dolores
        architecto esse officiis consequuntur quod necessitatibus in sint. Voluptate quo id neque non rem est
        consequatur.
        Beatae deleniti earum culpa illum repudiandae delectus libero corporis mollitia! Vitae ipsum numquam cum at
        labore
        illo iste quos quam ipsam possimus. Architecto saepe nisi veniam totam perferendis placeat provident!
        Necessitatibus dolor pariatur nam minima, atque incidunt ad qui at veritatis adipisci distinctio quis excepturi
        quaerat omnis id dicta aliquam harum eveniet magni, quam perferendis nemo, dolores laudantium autem. Quo?
        Eaque, id? Ipsam recusandae magnam, assumenda fuga enim eum nihil non iste in praesentium tenetur adipisci
        voluptas
        mollitia, ipsa eaque. Eos, numquam eum? Praesentium esse officia quisquam, cum et dolorum!
        Alias similique ad nulla consequatur sequi sint optio ea placeat fugiat veniam, magnam deserunt repellat sit
        numquam
        dolor mollitia recusandae consectetur omnis suscipit error accusantium magni iusto! Iure, a qui.
        Voluptate amet incidunt veritatis explicabo dolorum, sed nobis officia adipisci! Vitae nulla quisquam debitis
        ducimus corporis! Rerum neque ab, eos vel amet minus ullam. Quas beatae possimus at fugiat quam?
        Itaque nihil, similique facilis tempore labore fuga, maiores exercitationem dolores consequuntur voluptas
        repellat
        quaerat quisquam pariatur fugiat hic architecto laboriosam. Fugiat, possimus culpa. Veniam doloremque distinctio
        cupiditate sed amet iste.
        Architecto accusantium molestiae, vero neque dignissimos iusto delectus commodi nihil doloremque vitae
        laudantium
        magnam impedit, perferendis provident at dolorem, animi ipsum officia? Inventore sed recusandae quos deleniti,
        quia
        reiciendis eos!
        Iste eos illo ratione dicta, nobis necessitatibus dolorem ducimus rem ipsum, eius tempora illum explicabo odit,
        deleniti et minima. Sapiente quas quis totam ducimus inventore iusto, ab saepe atque natus.
        Blanditiis quaerat nemo unde officia deleniti magnam consequatur hic, veniam eos, ex aliquam provident pariatur
        officiis! Dolorem officiis culpa, tempora aliquam expedita enim eveniet quam. Tempore animi facere deleniti
        delectus.
        Doloribus accusamus nisi odit quam eaque ducimus fugiat perferendis eligendi, in delectus? Dolor, iusto nobis!
        Facilis qui accusamus exercitationem voluptate, culpa, nulla quaerat ullam ipsam, deleniti nobis unde ea totam.
        Quisquam a quidem doloribus excepturi. Eligendi libero quidem, animi doloremque nemo, optio fugiat aspernatur
        perspiciatis, at incidunt rerum quod laudantium illum assumenda veniam soluta doloribus architecto illo.
        Officia,
        blanditiis qui.
        Unde totam eius alias expedita velit? Quos quas esse error voluptates totam adipisci rerum alias reprehenderit
        molestiae, tempore aperiam unde ullam ipsum quibusdam sunt suscipit sit! Quidem, quisquam. Sed, iste.

        <h1 id="book-s2">
            Unfortunate coincidences
        </h1>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sapiente impedit libero ipsam distinctio eaque
        consequatur sed ullam aperiam. Architecto nisi expedita nesciunt natus vitae eligendi voluptate recusandae minus
        ullam.
        Architecto itaque nobis harum ad eligendi consectetur ipsa corporis natus recusandae molestias quas voluptate ab
        atque quam nulla officiis modi deleniti quod voluptas, voluptatibus autem nostrum laborum minus? Reiciendis,
        blanditiis.
        Autem unde esse, culpa similique eaque reprehenderit corporis recusandae perferendis rem et atque officiis
        blanditiis, id nemo suscipit soluta. Quae asperiores quod tenetur, est optio rem amet dolorem porro aliquam!
        Sed doloribus vel magni iste! Deleniti at architecto blanditiis aut dolor modi, dolorum ex, consequuntur qui sed
        atque. Accusantium ducimus corporis repudiandae porro culpa nobis enim blanditiis quas necessitatibus.
        Aspernatur?
        Aliquam quibusdam quo, sunt magni expedita hic minima assumenda non, possimus ab consectetur quia labore earum
        voluptatem deserunt fugit doloribus ipsam! A praesentium sint culpa atque! Incidunt dolorem assumenda possimus?
        Id dignissimos eaque vel culpa praesentium atque impedit totam, et eius delectus voluptate. Impedit fugiat
        pariatur
        ratione provident. Tenetur illo maiores non architecto odio quam eligendi perspiciatis. Perferendis, nemo ipsum!
        Saepe porro libero odio soluta placeat, earum vitae quas impedit dignissimos ullam, voluptatibus voluptatum
        pariatur
        qui fugiat reiciendis asperiores voluptates tempora velit consequuntur, incidunt quis deserunt vel aspernatur.
        Perspiciatis, et?
        Officiis iure commodi voluptatum, sint, dignissimos ut earum deleniti optio esse iste quos ex accusamus hic nam
        laborum voluptas dolores ab! Soluta laboriosam quo provident praesentium magnam doloribus aperiam fugiat?
        Quae dolorum quia dignissimos dicta. Vero voluptas vitae earum quod eveniet est illo nihil veniam ab quibusdam
        deleniti, aspernatur saepe eum quos ullam esse accusamus dolorum sed! Quasi, illo reprehenderit.
        Eius reiciendis nostrum molestiae explicabo! Quibusdam dolorem voluptatem placeat culpa adipisci similique in
        itaque, explicabo modi numquam voluptas libero ad, fuga atque quas animi architecto maxime nesciunt, assumenda
        tempora a!
        Asperiores inventore ea, perspiciatis distinctio sequi quibusdam dignissimos vitae provident voluptatibus, velit
        corporis. Quae eaque repellendus consequuntur perspiciatis deleniti vel commodi! Aut, porro hic consequuntur
        culpa
        reiciendis veniam corrupti illo.
        Incidunt ea voluptates saepe, ex sapiente accusamus, sint ut mollitia possimus pariatur quos quasi vero commodi
        illo, nostrum magni? Quaerat aperiam corporis magnam dignissimos. Vero modi nemo corrupti perferendis illum.
        Id, repudiandae voluptatibus. Delectus ullam, non est itaque nemo quod similique tenetur labore explicabo?
        Molestiae
        quibusdam commodi repellat quidem sunt voluptate minima temporibus sit, dignissimos reiciendis nostrum debitis
        velit
        eveniet.
        Minima amet sint totam commodi ullam iste, dicta libero fugiat voluptate qui impedit cumque? Praesentium maiores
        aut
        explicabo voluptates obcaecati iusto, rerum laudantium enim quisquam soluta, facilis autem perferendis quia!

        <h1 id="book-s3">And I wept Bitterly</h1>

        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor aut quasi provident tempore autem commodi
        reprehenderit nisi porro magni, rerum ducimus quia laudantium quod omnis libero iste sint delectus. Cupiditate?
        Eos esse recusandae aliquam, non quo impedit dolores magnam. Labore ipsam sint, ducimus, eos architecto error
        est nisi impedit, blanditiis hic maxime placeat nemo ad omnis exercitationem quis doloribus voluptates.
        Vitae repellendus dignissimos impedit perferendis. Officia nihil quaerat nemo fugit libero quidem autem aliquam
        magnam mollitia, reprehenderit ullam dolorum, esse aspernatur ducimus pariatur eveniet soluta minus hic nobis
        tempore aliquid.
        Saepe, repellat illo. Qui, pariatur rerum incidunt aut repellat suscipit ipsam fugit molestiae sapiente tempore
        quas architecto excepturi doloribus, nam placeat nulla ipsa omnis blanditiis eos. Ut illo sequi incidunt!
        Aut sed similique autem natus! Minus voluptas quo itaque impedit dolores recusandae ab exercitationem velit
        architecto, maxime temporibus consequuntur officia, ullam amet laboriosam aspernatur? Quaerat architecto placeat
        sint voluptate suscipit.
        Itaque ab aspernatur quisquam? Rerum quas consectetur quam illo eos veniam voluptates, iste quaerat. Libero
        nobis repellendus repudiandae eius fuga doloribus quae, iste ullam dolor at voluptates praesentium quos odit!
        Eius incidunt culpa quo architecto atque obcaecati asperiores tempore eos recusandae optio tempora doloremque
        iusto, quos eligendi exercitationem consequatur necessitatibus molestias nisi dolorum sunt iure! Sunt sed nam
        aliquam asperiores!
        Enim, ipsa vero aspernatur asperiores laborum repellendus sequi assumenda suscipit quis! Minima ab expedita
        neque? Libero voluptates aperiam alias praesentium cupiditate! Aliquid quia sit accusamus inventore, dolore fuga
        veniam laboriosam?
        Suscipit reiciendis rerum ea! Temporibus dicta praesentium libero voluptas quia, atque explicabo distinctio esse
        maiores exercitationem aspernatur eius officia! Commodi voluptatibus dolore id sunt natus deserunt harum fuga
        architecto ad.
        Iusto, aspernatur veritatis, qui harum animi ab placeat rerum dolorem itaque incidunt maiores natus delectus
        nemo reprehenderit consequatur excepturi. Eius excepturi eaque hic animi quasi repellendus nihil commodi enim
        dolores?
        Minima nihil dignissimos, dolores consequuntur sunt ratione vitae reprehenderit voluptatum distinctio quos
        nesciunt sit reiciendis cumque! Quaerat odit quibusdam mollitia debitis facilis asperiores deserunt assumenda!
        Minima eveniet iste nisi soluta.
        Beatae dignissimos amet autem libero alias quas, officiis labore voluptatum neque eos aspernatur molestias
        obcaecati accusamus quibusdam perspiciatis vitae dicta possimus. Temporibus nemo corrupti corporis autem dolor
        ea illum provident?
        Suscipit modi architecto adipisci animi sint voluptatum aspernatur officia temporibus laudantium repudiandae,
        cum ratione cupiditate qui! Ipsa aspernatur deleniti expedita debitis. Neque nihil natus minima cumque,
        molestias enim id non!
        Commodi neque tempore consequuntur, dolores dolorum facere? Nemo facilis dignissimos, provident voluptatibus
        deserunt soluta quae, natus magnam minus molestiae totam, laboriosam itaque in sint ullam aliquam vel sunt modi
        architecto.
        Quibusdam commodi laborum officia, aspernatur nobis molestiae velit, necessitatibus, fugiat fuga numquam eaque
        suscipit magni provident obcaecati excepturi? Eius consectetur ipsum eaque non nam sed minima fugiat quis maxime
        aperiam.
        Ut dolor assumenda nisi aliquam modi, deserunt a voluptatum adipisci nesciunt at est eveniet sunt, quo
        temporibus nobis quod odio illum beatae similique explicabo? Quas quod molestiae assumenda magni aliquam!
        Incidunt amet provident aliquid earum, nobis rerum dolore exercitationem sequi numquam quaerat vero et voluptate
        ipsam eligendi adipisci enim dolorem. Quia esse magnam non minima, vitae repellendus aut veniam autem.
        Quis quae a perferendis quas illo repudiandae animi eum laboriosam ea, laudantium quisquam ullam consectetur
        fuga blanditiis dolorem soluta veniam commodi quidem quo laborum reprehenderit fugiat voluptatem facilis
        similique. Cupiditate.
        Cum, dolor impedit soluta itaque quas voluptatem cumque a numquam rem debitis doloremque perspiciatis reiciendis
        esse aut dolores in odit quod hic ea suscipit earum nam! Ullam quia porro aperiam!
        Eum, possimus quas esse quisquam ipsa tempora beatae? Vitae, beatae, placeat unde rem doloribus natus,
        repudiandae eum possimus nulla eius perspiciatis! Quos quibusdam illo accusamus animi voluptates aspernatur
        voluptatibus! Quam!
        Qui debitis reprehenderit, veniam consequuntur officia facere molestias quam quis mollitia a quae fugiat facilis
        harum vero. Dolor reiciendis architecto asperiores, cum quasi nam ea obcaecati corporis, impedit, suscipit
        voluptates!
        Magni quibusdam voluptatum optio animi, molestiae adipisci est facilis, cumque, beatae assumenda ratione unde.
        Repellendus inventore molestiae molestias ipsa temporibus, iusto placeat nam minima quis, nemo quam similique
        laudantium quaerat.
        Totam non dolores corrupti itaque illo eum deleniti in, incidunt maiores quisquam. Ad ab nostrum distinctio
        aperiam totam magni, consequatur eius, libero aliquid beatae nihil facilis unde reprehenderit inventore.
        Laboriosam.
        Cumque eveniet provident, dolorem cum modi, itaque non asperiores architecto necessitatibus deleniti iusto
        doloribus distinctio, perferendis ullam. Facere, totam eaque. Alias quaerat reiciendis omnis dicta deleniti
        suscipit magnam, laudantium velit!
        Optio necessitatibus tempore, autem pariatur laboriosam velit. Deleniti pariatur unde inventore beatae atque ab
        quas debitis aliquam qui reiciendis, modi rem magnam rerum magni nam praesentium? Doloremque, officia dolores!
        Sequi?
        Beatae deserunt voluptate repellat aliquam, accusantium, eveniet ratione obcaecati autem, provident doloremque
        maxime. Ullam, soluta. Nulla maxime libero hic fugiat quasi nam ut at ad quibusdam! Fugiat recusandae obcaecati
        facere!
        Ipsam nam vel perferendis labore deserunt repellat, sint ullam dignissimos nostrum atque quis est sed eveniet
        maiores nisi aperiam ipsa? Laudantium, earum. Tenetur, sit commodi excepturi minima enim soluta voluptatem.
        Cum quod nemo quos. Eum officiis, expedita doloremque et soluta fuga quis. Autem eos, tenetur exercitationem
        labore suscipit delectus hic necessitatibus consectetur dolor facilis? Natus minima voluptatibus error eveniet
        recusandae?
        Quia repellendus similique porro dolorem hic modi fugit minus officiis voluptate provident consectetur aliquam,
        tenetur autem numquam saepe necessitatibus ipsa aliquid. Cum debitis quibusdam maxime voluptatem, ea dolorum
        molestiae quidem.
        Minima possimus modi cumque harum, autem voluptatem earum qui? Voluptatum necessitatibus facere optio odio
        nostrum perferendis eos temporibus! Nobis, excepturi hic. Aliquam mollitia quibusdam nesciunt provident
        molestias ad velit! Eos.
        Eligendi autem commodi nam. Quisquam totam quibusdam, temporibus sapiente fugiat doloremque. Eum saepe cum ipsum
        est sint nesciunt in dolorum? Labore corrupti, officiis est quod rerum libero et quia voluptatum.
        Laboriosam voluptas consectetur molestias dolore possimus similique natus inventore molestiae, praesentium
        facilis fugit velit explicabo nobis nemo rerum eveniet tenetur ad, aliquam suscipit. Reprehenderit, ut commodi
        natus dolorem deleniti tempora.
        Quidem, nihil nisi error inventore illo, provident quasi dolore voluptatibus dignissimos aperiam nesciunt magnam
        perspiciatis quis cupiditate facere. Autem possimus consequatur at harum blanditiis voluptatum accusantium
        quisquam porro natus a!
        Ut harum animi nihil nobis ex. Repellat tempora laudantium quos! Soluta placeat aliquam impedit vitae, iure, at
        dignissimos nobis ipsum cupiditate ducimus atque blanditiis eum unde iusto debitis error itaque?
        Asperiores, in! Fugit natus pariatur sed cumque numquam itaque placeat magnam totam, quasi, amet nulla ad!
        Laudantium laborum nihil culpa sapiente, debitis quasi esse quisquam, modi libero voluptas doloribus vero?
        Unde odit cum perferendis aperiam vero error tempore fugit molestias nihil, eligendi, inventore quo beatae quae
        possimus iusto animi deleniti reiciendis numquam voluptatibus blanditiis sapiente? Nostrum sequi optio facere
        officiis?
        Quidem porro animi iusto voluptates earum inventore cum temporibus vitae ducimus explicabo eos ad cumque maiores
        dolor quia delectus rerum perspiciatis in vel impedit, magnam minima neque odit et. Quia!
        Sequi voluptas sunt laborum iure. Ab laboriosam expedita, at quia est quibusdam eius placeat doloremque fugit
        quae porro accusantium totam officiis iure qui minus in veritatis beatae quos rem ratione.
        Fugit illum iusto nihil veniam ea maiores! Perspiciatis dolore quos molestias quo dignissimos illo vitae, illum
        commodi voluptatem aspernatur eligendi exercitationem. Minus doloremque quo accusamus vitae! Quo, natus sunt.
        Repellat.
        Ullam nostrum assumenda velit vel quia iusto dolorum ab odit officiis reprehenderit distinctio, quae quis
        veritatis consectetur, sequi deleniti? Ducimus, laudantium! Iste porro ea hic similique consequuntur dolore
        maiores dolorum!
        Voluptatum at, voluptatem eum dicta eaque iste ab. Vero ipsa consectetur quis deserunt! Numquam nisi, animi
        blanditiis est quos quis sapiente porro atque voluptates similique tempora, rem eligendi maiores ducimus!
        Maxime doloremque cumque obcaecati voluptas voluptatem, tempore ratione eius velit qui facere quisquam quos in
        corrupti omnis animi distinctio tempora suscipit sint non aspernatur assumenda consectetur repudiandae! Beatae,
        dolor odio.
        Iusto, itaque. Hic, vitae placeat obcaecati delectus tempore quam modi dolorem eveniet mollitia eum, veritatis
        sequi? Adipisci et, facere eaque iste nam voluptate recusandae nulla quibusdam dolor ipsam ea suscipit.
        Reprehenderit, ea repudiandae. Deserunt et corporis pariatur voluptas numquam vel ea dolore, eaque eum a
        voluptatum assumenda qui blanditiis maiores dolorum maxime harum fuga temporibus tenetur eveniet iure at
        repudiandae.
        Inventore rem iusto soluta ipsa, alias illum rerum perspiciatis eius delectus quas ab libero pariatur, fugit
        quia. Cum exercitationem commodi veritatis recusandae fuga praesentium odio quod, enim asperiores sint ducimus.
        Eveniet modi ab adipisci inventore, ullam alias. Iusto quia nostrum earum fugiat minima inventore cupiditate
        assumenda illo quas aliquam corporis sed incidunt, consequatur ex similique? Molestiae necessitatibus placeat
        eaque quos?
        Ducimus, dolore facere eveniet sint libero ut. Explicabo sequi temporibus ad harum odio! Sit corrupti adipisci
        perspiciatis magni iure expedita doloribus! Impedit, quibusdam. Perspiciatis id laudantium ipsum dolorem culpa
        necessitatibus!
        Quibusdam aliquam natus aut consectetur amet eveniet itaque, neque voluptatibus quisquam nemo odit, libero
        pariatur optio! Dicta veritatis aliquam voluptatem voluptates? Ipsam fugit quo sint explicabo, nesciunt esse
        beatae eaque?
        Vel quaerat suscipit neque dicta quo consectetur earum rem pariatur provident eligendi magnam aliquid illum, aut
        est adipisci possimus similique qui perferendis laboriosam explicabo eius accusamus! Distinctio dignissimos iure
        laudantium!
        Dolorem odio laborum veritatis officia tempora nulla odit quibusdam at. Consequuntur reiciendis deleniti
        perspiciatis adipisci enim laboriosam fuga atque, deserunt vero quisquam in iure, quidem accusamus veniam
        nesciunt, porro id?

        <h1 id="books-4">Conclusion</h1>

        Not all that glisters is gold
    </div>

    <object [data]="pdfSource"></object>

    <div class="view-pdf">
        <embed width="100%" height="100%" class="document" [src]="pdfSource" type="application/pdf">
    </div>
</div>

<div>
    <div class="chat">
        <div class="chat-messages">
            hi
        </div>

        <div class="chat-compose">
            <form action="#">
                <input value="hi" name="content" type="text">
                <button>
                    Send
                </button>
            </form>
        </div>
    </div>
</div>