@import "src/app/_partials/variables.scss";

.thumbs {
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: repeat(2, minmax(2rem, 1fr));
    overflow: hidden;
    border-radius: 500000rem;

    .thumbnail {
        max-height: 3rem;
        max-width: 3rem;
        border-radius: 20%;
    }
}

.card {
    display: grid;
    grid-template-columns: .3fr 1fr .2fr;
    max-height: 8rem;

    padding: .5rem .5rem;
    box-shadow: 0 .01rem .1rem rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, .8);

    border-radius: .3rem;

    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 .1rem .1rem currentColor;
        transform: translateY(.1rem);
    }

    .extras {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem;

        &__title {
            margin-bottom: .1rem;
            padding: 0;
            margin: 0;
        }

        &__subtitle {
            font-weight: 100;
            opacity: .7;
        }
    }
}