@import "src/app/_partials/variables.scss";

.thumbs {
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: repeat(2, minmax(2rem, 1fr));
    overflow: hidden;
    border-radius: 500000rem;

    .thumbnail {
        max-height: 3rem;
        max-width: 3rem;
        border-radius: 20%;
    }
}

.card {
    display: grid;
    grid-template-columns: .3fr 1fr .2fr;
    max-height: 8rem;

    padding: .5rem .5rem;
    background-color: inherit;
    color: inherit;

    border-radius: .5rem;

    cursor: pointer;
    transition: all .1s;

    &:hover {
        background-color: inherit;
        background-color: rgba(0, 0, 0, .1);
    }

    .extras {
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem;

        &__title {
            margin-bottom: .1rem;
            padding: 0;
            margin: 0;
            font-weight: 600;
        }

        &__subtitle {
            font-weight: 100;
            opacity: .7;
        }
    }
}