@import "src/app/_partials/variables.scss";
@import "src/app/_partials/components.scss";

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    color: white;
    background-color: $col-primary;

    & > .button {
        width: 100%;
    }
}