@import "src/app/_partials/variables.scss";
@import "src/app/_partials/components.scss";

.workspace {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    min-height: 100%;

    background-color: $col-primary;

    .chat-name {
        color: $col-gray-shade-1;
        font-size: 1.8rem;
    }

    .chat-greeting {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.3rem;

        .notif {
            flex: 0 0 70%;
            padding: 2rem .5rem;
            margin-bottom: 2rem;
        }
    }

    .date {
        display: flex;
        justify-content: center;

        & > * {
            flex: 0 0 20%;
            text-align: center;
            margin: 1rem 0;
        }
    }

    &__chats {
        grid-row: 1/-1;
        grid-column: 1 / 4;
        padding: 1.1rem 0;
        position: relative;

        .chats-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .filters {
            margin-top: 1rem;
            padding: 0 .5rem;
            & > :not(:last-child) {
                margin-right: .8rem;
            }
        }

        .recent-chats {
            margin-top: 1rem;
            // display: grid;
            // grid-row: 40rem;
            height: 80vh;
            overflow-y: scroll;
            scrollbar-gutter: stable both-edges;

            background-color: white;

            .chat {
                border-bottom: .1rem solid rgba($col-primary, .1);
                overflow: hidden;
                color: $col-primary;
                background-color: rgba($col-secondary-shade-1, .9);
                background-color: $col-primary;
                background-color: rgba($col-white, .5);
            }

            .chat-activity {
                display: inline-block;
                height: 3rem;
                width: 3rem;
                border-radius: 5000rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba($col-secondary, .05);
            }
        }

        .report {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: .5%;
            justify-content: center;
            width: 100%;
            font-size: .8em;
            color: $col-secondary;
        }
    }

    &__area {
        grid-column: 4/16;
        position: relative;
        padding: 2rem 4rem;

        background-color: $col-white;

        .compose-message {
            z-index: 100;
            background-color: inherit;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            left: 0;
            right: 0;
            bottom: 0;

            margin-left: auto;
            margin-right: auto;
            
            padding-bottom: 3%;
            padding-top: 3%;

            background-color: rgba($col-primary, .02);

            .main-part {
                height: 10rem;
                flex: 0 0 90%;
                box-shadow: 0 .1rem .1rem $col-secondary-shade-1, 
                0 -.1rem .1rem $col-secondary-shade-1;
                border-radius: 1rem;
            }

            .text-input {
                outline: none;
                border: none;
                font-size: 1.5rem;
                line-height: 1.4;
                width: 100%;
                height: 100%;
                font-family: inherit;
                color: $col-primary;
            }

            & > :not(.main-part) {
                flex:  0 0 5%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .button {
                color: white;
                padding: 1rem;
            }

            .attach {
                color: $col-primary;
            }

            .send {
                background-color: $col-primary;
            }
        }
    }

    &__tools {
        grid-column: 16/-1;
        padding: 0 1.5rem;

        .tabs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0 -1.5rem;

            display: none;

            & > * {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 5rem;
            }

            .tab {
                background-color: white;
                color: $col-primary;
                border: .1rem solid $col-primary;
            }
        }

        .participants {
            margin-top: 1rem;
            margin-bottom: 4rem;

            .participant {
                color: $col-primary;
                background-color: rgba($col-secondary-shade-1, .2);
                background-color: white;
            }

            .members, .admins {
                display: grid;
                row-gap: 1.2rem;
            }
        }
    }
}