<div class="workspace">
    <div class="workspace__chats">
        <div class="chats-header">
            <h3>Chats</h3>

            <div>
                <button class="button">
                    <app-icon name="icon-search"></app-icon>
                </button>
                <button class="button">
                    <app-icon name="icon-add-solid"></app-icon>
                </button>
            </div>
        </div>

        <div class="filters">
            <app-chip [active]="true" value="Open"></app-chip>
            <app-chip [active]="true" value="Done"></app-chip>
            <app-chip value="Unread"></app-chip>
        </div>

        <div class="recent-chats">
            <app-card1 [thumbnails]="['/assets/images/user.jpeg', '/assets/images/indira.jpeg']"
                subt="You: UX Consulting" title="Leslie Laurens">
                <span>
                    12m
                </span>
            </app-card1>
            <app-card1 [active]="true" subt="You: UX Consulting" title="Scouting Group">
                <span>
                    3h
                </span>
            </app-card1>
            <app-card1 [thumbnails]="['/assets/images/divina.webp']" subt="Laura: We need UI Designer"
                title="Leslie Palmier">
                <span>
                    4h
                </span>
            </app-card1>
        </div>

        <div class="report">
            <app-icon name="icon-chart"></app-icon> &nbsp;
            <span>Submit Feedback</span>
        </div>
    </div>

    <div class="workspace__area">
        <h2>Scouting Group</h2>
        <div>
            <app-hint [important]="true" title="Welcome to the Streamline scouting chat"
                content="We can now freely collaborate regarding our current Demand. Any questions about the documentation or the project, please feel free to get in touch with us.">
            </app-hint>
        </div>

        <p>
            Tuesday May 2nd 2022
        </p>

        <div>
            <app-message content="What are words that we cannot use them" sender="/assets/images/indira.jpeg">
            </app-message>
            <app-message sender="/assets/images/divina.webp" [byMe]="true" content="Hello everyone"></app-message>
            <app-message sender="/assets/images/user.jpeg" content="How are you today?"></app-message>
        </div>

        <form class="compose-message" action="#">

            <button class="button attach" type="button">
                <app-icon name="icon-attachment"></app-icon>
            </button>

            <textarea class="text-input" type="text"></textarea>

            <button class="button send" type="submit">
                <app-icon name="icon-location-current"></app-icon>
            </button>
        </form>
    </div>

    <aside class="workspace__tools">
        <div class="tabs">
            <a class="button" href="#">Chat Members</a>
            <a class="button" href="#">Shared Files</a>
        </div>

        <div class="participants">
            <h5>{{'members' | uppercase}}</h5>

            <div class="members">
                <app-card1 [thumbnails]="['/assets/images/user.jpeg']" subt="You: UX Consulting" title="Leslie Laurens">
                    <button>
                        <app-icon name="icon-conversation"></app-icon>
                    </button>
                </app-card1>
                <app-card1 [thumbnails]="['/assets/images/user.jpeg']" subt="You: UX Consulting" title="Leslie Laurens">
                    <button>
                        <app-icon name="icon-conversation"></app-icon>
                    </button>
                </app-card1>
            </div>

            <h5>{{'members' | uppercase}}</h5>

            <div class="admins">
                <app-card1 [thumbnails]="['/assets/images/user.jpeg']" subt="You: UX Consulting" title="Leslie Laurens">
                    <button>
                        <app-icon name="icon-conversation"></app-icon>
                    </button>
                </app-card1>
                <app-card1 [thumbnails]="['/assets/images/user.jpeg']" subt="You: UX Consulting" title="Leslie Laurens">
                    <button>
                        <app-icon name="icon-conversation"></app-icon>
                    </button>
                </app-card1>
            </div>
        </div>

        <div>
            <app-hint title="Customize Chat" content="Change layout and colors"></app-hint>
            <br>
            <app-hint title="Privacy Settings" content="Get immediate support"></app-hint>
        </div>
    </aside>
</div>