<div class="workspace">
    <div class="workspace__chats">
        <div class="chats-header">
            <h3>Chats</h3>

            <div>
                <button class="button">
                    <app-icon name="icon-search"></app-icon>
                </button>
                <button class="button">
                    <app-icon name="icon-add-solid"></app-icon>
                </button>
            </div>
        </div>

        <hr style="border-color: white">

        <div class="filters">
            <app-chip [active]="true" value="Open"></app-chip>
            <app-chip [active]="true" value="Done"></app-chip>
            <app-chip value="Unread"></app-chip>
        </div>

        <div class="recent-chats">
            <div class="chat" *ngFor="let c of chats">
                <app-card1 [thumbnails]="c.thumbnails" [subt]="c.subt" [title]="c.title">
                    <span class="chat-activity">
                        {{c.eta}}
                    </span>
                </app-card1>
            </div>
        </div>

        <hr>

        <div class="report">
            <app-icon name="icon-chart"></app-icon> &nbsp;
            <span>Submit Feedback</span>
        </div>
    </div>

    <div class="workspace__area">
        <h2 class="chat-name">Scouting Group</h2>
        <div class="chat-greeting">
            <app-hint class="notif" [important]="true" title="Welcome to the Streamline scouting chat">
                <a href="#">We can now freely collaborate regarding our current Demand</a>
            </app-hint>
        </div>

        <div class="date">
            <app-hint title="">
                Tuesday May 2nd 2022
            </app-hint>
        </div>

        <div>
            <app-message
                content="What are words that we cannot use them. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur asperiores, a odio ducimus possimus explicabo repellendus sequi dolore. Fugiat id cupiditate corporis similique ex dolorem unde molestiae rem consequuntur facere!"
                sender="/assets/images/indira.jpeg">
            </app-message>


            <app-message sender="/assets/images/divina.webp" [byMe]="true" content="Hello everyone"></app-message>
            <app-message sender="/assets/images/user.jpeg" content="How are you today?"></app-message>
        </div>

        <form class="compose-message" action="#">
            <div class="part">
                <button class="button attach" type="button">
                    <app-icon name="icon-attachment"></app-icon>
                </button>
            </div>

            <div class="main-part">
                <textarea class="text-input" type="text">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, nihil sunt voluptate libero eaque eveniet quia voluptas veritatis veniam voluptatum molestias quas beatae, reprehenderit voluptates delectus numquam, cumque impedit corrupti.
                </textarea>
            </div>

            <div class="part">
                <button class="button button--rounded send" type="submit">
                    <app-icon name="icon-location-current"></app-icon>
                </button>
            </div>
        </form>
    </div>

    <aside class="workspace__tools">
        <div class="tabs">
            <a class="button tab" href="#">Chat Members</a>
            <a class="button tab" href="#">Shared Files</a>
        </div>

        <div class="participants">
            <h4 class="heading--4">{{'admins' | uppercase}}</h4>

            <div class="admins">
                <app-card1 class="participant" *ngFor="let m of admins" bg="gainsboro" [thumbnails]="[m.avatar]"
                    [subt]="m.id" [title]="m.name">
                    <button *ngIf="m.online" class="button button--rounded">
                        <app-icon name="icon-conversation"></app-icon>
                    </button>
                </app-card1>
            </div>

            <h4 class="heading--4">{{'members' | uppercase}}</h4>

            <div class="members">
                <app-card1 class="participant" *ngFor="let m of members" [thumbnails]="[m.avatar]" [subt]="m.id"
                    [title]="m.name">
                    <button *ngIf="m.online" class="button button--rounded">
                        <app-icon name="icon-conversation"></app-icon>
                    </button>
                </app-card1>
            </div>
        </div>

        <div>
            <app-hint title="Customize Chat">
                {{'Change layout and colors'}}
            </app-hint>
            <br>
            <app-hint title="Privacy Settings">
                {{'Change who can invite you to chats'}}
            </app-hint>
        </div>
    </aside>
</div>