@import "src/app/_partials/variables.scss";

.notif {
    background-color: rgba($col-accent, .4);
}

.nnotif {
    background-color: rgba(240, 240, 240, .8);
}

.hint {
    min-height: 5rem;
    padding: 1.5rem 2rem;
    width: 100%;

    opacity: .5;
    opacity: 1;

    border-radius: 1rem;

    &:hover {
        opacity: 1;
    }

    &_title {
       margin-bottom: .5rem;
       font-size: 1.5rem;
       font-weight: 100;
       color: inherit;
    }

    &_content {
        color: rgba($col-primary, .7);
    }
}