/* You can add global styles to this file, and also import other style files */
html {
    font-size: 62.5%; // 1rem = 10px
    line-height: 1.6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
}

.button {
    &, 
    &:active, 
    &:link,
    &:visited {
        background-color: transparent;
        border: none;
        outline: none;
        padding: .5rem .7rem;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        background-color: rgba(255, 255, 255, .5);
    }

    &--rounded {
        border-radius: 5000rem;
    }
}

.input-field {
    padding: .6rem 2rem;
    font-size: 1.3rem;
    color: gray;
    outline: none;
    border: 1px solid rgba(230, 230, 230, .9);
    border-radius: 50000px;
}

.pointable {
    &:hover {
        cursor: pointer;
    }
}